*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #D5F2E2;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
        
::-webkit-scrollbar-thumb {
    background: #3074a0;
    border-radius: 5px;
}

#navbar{
    background-color: #5E888C;
    background-position: center center;
    height: 20pt;
    font-size: 12pt;
    font-family: 'verdana';
    padding-top: 12pt;
    padding-bottom: 18pt;               
}

#nav-right {
    float: right;
    padding-top: 4pt;
    padding-right: 15pt; 
}

#nav-left {
    float: left;
    padding-top: 4pt;
    padding-left: 15pt;
}

td a {
    color: white;
    padding-left: 8pt;
    padding-right: 8pt;
    text-decoration: none;
}

td a:hover{
    color: #57624f;
    padding-top: 12pt;
    padding-bottom: 18pt;
    text-decoration: none;
}

.title{
    text-align: center;
    font-family: 'Press Start 2P'; 
    font-size: 48px;
}

#score{
    font-family: 'Roboto';
    font-size: 20pt;
    text-align: center;
}

.btn-color1{
    background-color: #5E888C;
    color: white;
    font-family: 'Roboto';
    border-radius: 30%;
    padding: 5pt;
    left: 43%;
    margin: 0;
    position: absolute;
    font-size: 12pt;
}

.btn-color2{
    background-color: #5E888C;
    color: white;
    font-family: 'Roboto';
    border-radius: 30%;
    padding: 5pt;
    margin-left: 20pt;
    left: 50%;
    position: absolute;
    font-size: 12pt;
}

#game{
    width: 600px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    background-image: url(https://www.desktopbackground.org/download/1024x768/2014/07/26/799254_flappy-generator-plus-create-your-own-flappy-bird-game_9600x950_h.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#wall{
    width: 40px;
    height: 400px;
    background-color: #168039;
    position: relative;
    left: 600px;
    animation: wall 2s infinite linear;
    animation-play-state: paused;
}

@keyframes wall{
    0%{left: 600px}
    100%{left: -40px}
}

#gap{
    width: 40px;
    height: 110px;
    background-color: #71C5CF;
    position: relative;
    left: 600px;
    top: -350px;
    animation: wall 2s infinite linear;
    animation-play-state: paused;
}

#bird{
    width: 18px;
    height:18px;
    border-radius: 50%;
    background-color: #FFF0A5;
    position: absolute;
    top: 380px;
}